.FriendsList {
    display: flex;
    margin: 0 28px 10px 28px;
    overflow: scroll;
}

.titleFriends {
    font-size: 15px;
    color:rgb(222, 62, 163);
    text-align: center;
    text-transform: uppercase;
    display: none;
    
}

/* Tablet */
@media only screen and (min-width: 768px) {

 }

/* Desktop */
 @media only screen and (min-width: 1280px) {

    .titleFriends {
        display: inline;
        font-size: 20px;
        color:rgb(222, 62, 163);
        text-align: center;
        text-transform: uppercase;
        
    }

    .FriendsList {
        border-right: 1px solid rgb(222, 62, 163);
        background-color: rgba(234, 204, 236, 0.869);
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 940px;
        overflow: scroll;
    }
  
} 