.Navbar {
    margin: 10px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(222, 62, 163);
    
}

li {
    list-style: none;  
}

a { 
    text-decoration: none;
    color: rgb(222, 62, 163);
    padding: 0;
}

.logo {
    padding-left: 10px;
    margin-top:10px;
    max-width: 60px;
}

ul {
    display: flex;
    gap: 10px;
    padding-right: 8px;
}

.menu {
    font-size: 18px;
    font-weight: bold;
       
}

.sectionMenu {
    display: flex;
    gap: 30px;
    padding: 0 30px;
}

.username img  {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid rgb(222, 62, 163);
    background-color: rgba(255, 134, 211, 0.233);

}


@media only screen and (min-width: 1280px) {
    .username img {
        width: 60px;
        height: 60px;
    }
}