.MessagesList {
  margin: 55px 0 0 0;
  display: flex;
  justify-content: center;
  overflow: scroll;
  
}

.list {
  display: flex;
  max-width: 800px;
  flex-direction: column;
}

@media only screen and (min-width: 1280px) {
  .MessagesList {
    height: 800px;
  }
}